.FieldButton {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    animation: fade 3s infinite;
}

@keyframes smooth-blink {
    0% { opacity: 1; }
    33% { opacity: 0; }
    66% { opacity: 1; }
    100% { opacity: 0; }
}

.animateMod {
    animation: smooth-blink 2s linear infinite;
}